<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Table to CSV Generator</div>

                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th v-for="column in columns">
                                    <input type="text"
                                           class="form-control"
                                           :value="column.key"
                                           @input="updateColumnKey(column, $event)"
                                    />
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(row, index) in data">
                                <td v-for="(dataColumn, columnName) in row">
                                    <input type="text" class="form-control" v-model="row[columnName]"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary" @click="remove_row(index)">Remove Row</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-secondary" @click="add_column()">Add Column</button>
                        <button type="button" class="btn btn-secondary" @click="add_row()">Add Row</button>
                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="button" @click="submit()">Export</button>
                        <a v-show="link" id="link" :href="link">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "CSVGenerator",

        data() {
            return {
                data: [
                    {
                        first_name: 'John',
                        last_name: 'Doe',
                        email_address: 'john.doe@example.com'
                    },
                    {
                        first_name: 'John1',
                        last_name: 'Doe2',
                        email_address: 'john.doe2@example.com',
                    },

                ],
                columns: [
                    {key: 'first_name'},
                    {key: 'last_name'},
                    {key: 'email_address'},
                ],
                link: "",
            }
        },

        methods: {
            add_row() {
                let object = {}
                this.columns.forEach((column) => {
                    object[column.key] = ''
                })

                this.data.push(object)
            },

            remove_row(index) {
                this.data.splice(index, 1)
            },

            add_column() {
                this.columns.push({key: 'Heading'})
                this.data.map((item) => item['Heading'] = '')
            },

            updateColumnKey(column, event) {
                let oldKey = column.key;
                let columnKeyExists = !!this.columns.find(column => column.key === event.target.value);

                column.key = event.target.value;

                if (columnKeyExists) {
                    column.key = event.target.value.substring(0, event.target.value.length - 1);
                    return;
                }

                this.data.forEach(
                    (row) => {
                        if (row[oldKey]) {
                            row[column.key] = row[oldKey];
                            delete row[oldKey];
                        }
                    }
                )
            },

            submit() {
                this.link = '';

                axios.patch('/api/export/csv', this.data)
                .then(response => {
                    this.link = response.data.url;
                })
            }
        },
    }
</script>

<style scoped>

</style>
